# GD32E235 (GD32E23x family), ST-Link SWD debug configuration.
source [find interface/stlink.cfg]
source [find target/gd32e23x.cfg]

$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size $_WORKAREASIZE -work-area-backup 0 -gdb-max-connections 4
init
